body {
    background-color: rgb(212, 180, 123);
}
.mainContainer {
    width: 840px;
    background-color: rgb(242, 213, 161);
}
.player, .playerHeader, .playerInfo {
    width: 800px;
}
.gameInfo {
    width: 400px;
}
h1 {
    margin-bottom: 0.5em;
    padding-top: 1em;
    font-size: 1.5em;
}
.gameInfoHeader {
    clear: both;
    float: left;
}
.gameInfoValue {
    float: right;
    text-align: right;
}
.gameInfoLink {
}
.externalLinks {
    clear: both;
}
.externalLink {
    float: left;
    margin-right: 1em;
    padding-right: 1em;
    border-right: solid 1px black;
}
.externalLink:last-child {
    border-right: none;
}

.player, .playerHeader, .playerInfo {
    clear: both;
    text-align: left;
}
.playerInfo h1 {
    text-align: center;
}
.player {
    height: 1.5em;
    border: 1px solid black;
    background-color: #f7c4c4;
}
.player div {
    margin-top: 0.2em;
}
.HasLoggedIn {
    background-color: #faf9c9;
}
.HasEndedTurn {
    background-color: #dff6b5;
}
.IsLoggedIn .onlineStatus {
    font-style: italic;
}
.whosPlayedContainer {
    width: 100%;
    margin-bottom: 1em;
}
.whosPlayedSummary {
    border: solid 1px black;
    padding: 0.5em;
    text-align: center;
}
.playerInfo .playerHeader {
    font-weight: bold;
}
.playerEndedTurn {
    width: 1.5em;
}
.playerName, .playerEndedTurn, .teamName, .leaderName, .civilizationName {
    float: left;
    margin-right: 10px;
}
.playerName, .leaderName, .civilizationName {
    width: 130px;
}
.teamName {
    width: 170px;
}
.playerScore, .onlineStatus {
    float: right;
    margin-left: 10px;
}
.playerScore {
    width: 40px;
    text-align: right;
}
.onlineStatus {
    width: 100px;
}
.eventTurn {
    width: 60px;
    text-align: right;
}

.timeInfo {
    clear: both;
}
.timeLeftHeader, .turnRollHeader, .timeSystemTimeHeader, .timeZonePickerHeader, .yourTimeIs {
    float: left;
    clear: both;
}
.timeZonePicker {
    float: right;
}
.timeValue, .yourTimeValue, .turnRollValue {
    float: right;
    text-align: right;
}
.timeSystemTime, .timeLeft {
    width: 600px;
    clear: both;
}
.timeLeft, .turnRollValue {
    font-weight: bold;
    font-size: larger;
}
.yourTime {
    clear: both;
}

.event {
    clear: both;
    width: 800px;
    border: solid 1px black;
    height: 20px;
}
.eventTime, .eventPlayer {
    float: left;
    margin-right: 10px;
}
.eventType, .eventTurn {
    float: right;
}
.eventTurn {
    width: 60px;
    text-align: right;
}
.eventTypeturnroll, .eventTypereload {
    background-color: gray;
}
.eventTypeendturn {
    background-color: lightgray;
}