<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="GameName" value="Pitboss 18"/>
    <add key="ConnectionAddress" value="caledorn.no-ip.org:2058"/>
    <add key="Version" value="RB Mod 2.0.6.4"/>
    <add key="VersionLink" value="https://dl.dropboxusercontent.com/u/24745121/RB%20Mod%202.0.6.4.zip"/>
    <add key="ExternalLink1" value="http://realmsbeyond.net/forums/showthread.php?tid=6795&amp;pid=464150#pid464150|RB Mod Change Log"/>
    <add key="ExternalLink2" value="http://realmsbeyond.net/forums/showthread.php?tid=6795|Tech Thread"/>
    <add key="TimeFile" value="c:/temp/time.txt"/>
    <add key="ScoreFile" value="c:/temp/score.txt"/>
    <add key="EventFile" value="c:/temp/event.txt"/>
    <add key="PlayersFile" value="testdata/players.txt"/>
    <add key="EventCutoff" value="0"/>
    <add key="SystemTimeUTCOffset" value="1"/> <!-- System time in time.txt is recorded in local server time - this setting tells us which time zone that is -->
  </appSettings>
</configuration>
